*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $sans;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: lighten(black, 15);
  font-weight: $sans-reg;
  line-height: 1.3;
  color: $ink;
  font-size: $body-font-size;
}

::-moz-selection { background: rgba($blue, 0.4); }
::selection { background: rgba($blue, 0.4); }